<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Logo</title>
  <!-- styles -->
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/main.css">
  <!-- end styles -->
</head>

<body style="padding-top:50px;display:flex;justify-content:center;-ms-align-items:center;align-items:center;">

  <a href="#" class="logo">
    <img src="../img/logo.png" alt="logo image" class="logo--img">
    <h3 class="logo--title">bran<span class="pink bold">d</span>
    </h3>
  </a>

</body>

</html>
